@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');



#commonJsContainer {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  position: relative;
  display: flex;
  justify-content: center;
  background: #f2f3f2;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box !important;
}

#commonJsContainer *, #commonJsContainer *::after , #commonJsContainer *::before {
  box-sizing: border-box !important;
}

.panel,.container, .panel::before, .container::before, .panel::after, .container::after {
  box-sizing: border-box;
}

.panel {
  position: absolute;
  display: flex;
  overflow: hidden;
}

.svg-el {
  stroke: #f6f6f6;
  stroke-width: 0.465;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 0.8;
  fill-opacity: 1;
  fill-rule: evenodd;
  cursor: pointer;
}
.svg-el.Critical {
  fill: red;
}
.svg-el.Warning {
  fill: orange;
}
.svg-el.Normal {
  fill: green;
}
.svg-el.Grey {
  fill: #666666;
}

.board:not(.picture) {
  border-radius: 2px;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: white;
  /*border: 1px solid #333;*/
}

.board:not(.picture):hover {
  /*box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.51);*/
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.panel:not(.picture) .status {
  margin-left: 0;
  display: block;
  width: 15px;
  height: 100%;
  background-color: grey;
}

.panel .container{
  width: 100%;
  /*height: 100%;*/
  margin: auto;
  text-align: center;
  font-weight: bold;
  overflow: visible;
}

.highcharts-tooltip {
  z-index: 999 !important;
}

.highcharts-tooltip span {
    height:auto;
    width:140px;
    background-color:green;
    overflow:auto;
    white-space:normal !important;
}

.panel.number .container .numberText {
  margin: 0;
  padding: 5px 15px;
  text-align: right;
}

.panel.number .container .numberText:not(:last-of-type) {
  border-bottom: 1px solid #333;
}

.panel:not(.number) .container{
  width: 100%;
  height: 100%;
}

.panel, .panel.picture .container {
  overflow: visible;
}

.panel.picture .container {
  height: 100%;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */

}

.panel:not(.picture) .status.Normal {
  background-color: green;
}
.panel:not(.picture) .status.Warning {
  background-color: orange;
}
.panel:not(.picture) .status.Critical {
  background-color: red;
}


.panel .status::after, .svg-el::after  {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  background-color: #333;
  content: attr(data-tooltip);
  padding: 4px 8px;
  color: #fff;
  white-space: pre;
  position: absolute;
  z-index: 20;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  visibility: collapse;
  display: block;
}

.panel .status:hover::after, .svg-el:hover::after  {
  opacity: 1;
  transition: opacity 0.5s ease-in;
  visibility: visible;
}


.panel.Normal {
  border-color: green;
}
.panel.Warning {
  border-color: orange;
}
.panel.Critical {
  border-color: red;
}

.flexbox {
  display: flex;
}

.flexbox.row {
  flex-direction: row;
}

.flexbox.column {
  flex-direction: column;
}

.flexbox.wrap {
  flex-wrap: wrap;
}

body {
  position: relative;
}


#dialog_Container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background: #fff;
  /*width: 80%;
  height: 80%;*/
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid blue;
  z-index: 999999;
  flex-wrap: wrap;
}


.dialog .graphrow {
  flex: 0 1 auto;
  width: 100%;
}

.dialog .graph {
  flex: 0 1 auto;
  border: 1px solid green;
}

.dialog .graph .chart {
  width: 300px;
  height: 150px;
  background-color: #eee;
}

.dialog .graph .legend {
  height: 50px;
  /*width: 300px;*/
  background: grey;
  border: 1px solid #333;
}
